# Unity YAML assets
*.unity  merge=unityyamlmerge eol=lf text
*.prefab merge=unityyamlmerge eol=lf text
*.asset  merge=unityyamlmerge eol=lf text
*.meta   eol=lf text

# LFS tracked binaries
*.fbx filter=lfs diff=lfs merge=lfs -text lockable
*.png filter=lfs diff=lfs merge=lfs -text lockable
*.psd filter=lfs diff=lfs merge=lfs -text lockable
*.wav filter=lfs diff=lfs merge=lfs -text lockable
